<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-3">Cellphone Death Match</h1>
            <div class="row center">
                <h5 class="header col s12 light">Find the best time to buy your next smart phone!</h5>
            </div>
            <div class="row center">
                <a href="#about" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Find out how!</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/images/1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section" id="about">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h1>About Our App</h1>
                <p class="left-align light">The next iPhone is retailing at almost $1000. With expensive smart phones nowadays you want a good deal on your next smart phone. Buy a used phone and use our app to find out the best time to buy or even sell your next smart phone. Currently we support the two most popular phones, the iPhone 7 and Galaxy S7. More phones to be supported in the future.</p>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <h1 class="center">Features</h1>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Ember</h5>

                    <p class="light center">We built our app using Ember.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Websocket</h5>

                    <p class="light center">Charts are updated with new data!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Ebay API</h5>

                    <p class="light center">We use data that is reliable.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <h1 class="center">Resources</h1>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <a href="http://www.chartjs.org/" target="_blank">
                            <i class="fa fa-area-chart black-text"></i>
                        </a>
                    </h2>
                    <h5 class="center">Chart.js</h5>

                    <p class="light center">Simple and beautifully animated charts.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <a href="http://materializecss.com/" target="_blank">
                            <i class="fa fa-trello black-text"></i>
                        </a>
                    </h2>
                    <h5 class="center">Meterialize.css</h5>

                    <p class="light center">Developing with Material Design in mind.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <a href="http://ianlunn.github.io/Hover/" target="_blank">
                            <i class="fa fa-hand-pointer-o black-text"></i>
                        </a>
                    </h2>
                    <h5 class="center">Hover.css</h5>

                    <p class="light center">Animate all your hover effects.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/4.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h1>GitHub</h1>
                <p class="dark center">
                    <a class="fa-icon" href="https://github.com/jenniwazhere/CellphoneDeathMatch" target="_blank"><i class="fa fa-github-alt"></i></a>
                </p>
                <p class="text-muted"><br>Check out our installation and documentation.</p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/5.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h1>Issues</h1>
                <p class="center light">
                    Ember-babel-cli build failure
                    <br>Lack of MVC knowledge
                    <br>Combining individual works into main project
                    <br>Inconsistent loading of HTML/CSS
                    <br>Getting Chart.js to load data
                    <br>Integrating Facebook Login with Ember
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/6.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h1>Contact Us</h1>
                <p class="center light">Got a cool new feature?</p>
                <p>We want to know about it!</p>
                <p>
                    <a href="mailto:someone@example.com?Subject=Hello%20Developers" target="_top" id="email-button" class="btn-large waves-effect waves-light teal lighten-1">Email Us</a>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">We want to help you get your next smart phone</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/images/7.jpg" alt="Unsplashed background img 3"></div>
</div>
{{yield}}
