<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Team Members</h5>
                <p class="grey-text text-lighten-4">
                    - Micah Geertson
                    <br>- Brian Nuckles
                    <br>- Vidya Muniraju
                    <br>- Gene Lo
                    <br>- Jennifer Kang
                    <br>- Nhat Rocky Nguyen
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social Media</h5>
                <ul>
                    <li><a class="hvr-fade white-text" href="www.facebook.com">Facebook</a></li>
                    <li><a class="hvr-fade white-text" href="www.instagram.com">Instagram</a></li>
                    <li><a class="hvr-fade white-text" href="www.twitter.com">Twitter</a></li>
                    <li><a class="hvr-fade white-text" href="www.snapchat.com">Snapchat</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">External Links</h5>
                <ul>
                    <li><a class="hvr-fade white-text" href="#!">Font Awesome</a></li>
                    <li><a class="hvr-fade white-text" href="http://materializecss.com/">Materialize</a></li>
                    <li><a class="hvr-fade white-text" href="#!">Hover CSS</a></li>
                    <li><a class="hvr-fade white-text" href="#!">Animate CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2017.
        </div>
    </div>
</footer>
